<h1>New Location</h1>

<%= form_with scope: :location, url: locations_path, local: true do |form| %>
  <p>
<<<<<<< HEAD
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

=======
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
>>>>>>> c7238025ff2becfc5e96550bcf6eb6c618fbbf83
  <p>
    <%= form.submit %>
  </p>
<% end %>